<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro" />
        <activity android:name=".Perfil" />
        <activity android:name=".Menu" />
        <activity android:name=".Login">
        </activity>
    </application>
</manifest>